// @import '~bootstrap-sass/assets/fonts/bootstrap';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import 'color';
// @import 'theme';
@import '~bootstrap/scss/bootstrap';

nav {
  color: #6699ff;
  margin: auto;
}

body {
  text-align: center;
  margin:auto;
  background-color: rgb(186, 226, 222);
}

.resource-form {
  margin-left: 40px;
  margin-top: 45px;
  width: 400px;
}

.resource-form input {
  margin-bottom: 18px;
  margin-left: 18px;
  margin-top: 18px;
}

.resource-form label {
  font-size: 20px;
}

.show-foods {
  margin-left: 40px;
  margin-top: 15px;
}

.handlebar {
  display: inline-block;
  margin-left: 40px;
  width: 400px;
}

.signup-portal {
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.content {
  margin-left: 40px;
}
.navbar-brand {
  text-underline-position: auto;
  text-align: justify;
}

.btn-primary:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
